<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".button_link_home"), "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".button_home"), root_path %></li>
        <li><%= link_to t(".button_help"), help_path %></li>
        <li><%= link_to t(".button_login"), signup_path %></li>
      </ul>
    </nav>
  </div>
</header>
